@font-face {
  font-family: "Kelson";
  src: url("Kelson.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kelson";
  src: url("Kelson-Medium.woff");
  font-weight: medium;
  font-style: medium;
}
@font-face {
  font-family: "Kelson";
  src: url("Kelson-Bold.woff");
  font-weight: bold;
  font-style: bold;
}
